.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 55px;
  color: white;
}

.App-title {
  font-size: xx-large;
  color: yellow;
}

.App-intro {
  font-size: large;
}
